/* Define CSS variables for text color and background color */
:root {
    --text-color-light-db: black;
    /* Text color for light background */
    --text-color-dark-db: white;
    /* Text color for dark background */
    --bg-color-light: white;
    /* Background color for light mode */
    --bg-color-dark: #1e1e1e;
    /* Background color for dark mode */
}

h1.applied {
    text-align: center;
    color: yellow;
}

table {
    border-collapse: collapse;
    width: 50%;

    table-layout: auto;
    border: 2px solid rgba(77, 147, 218, 0.946);
    /* Add border to the table */
    border-radius: 8px;
    /* Add border radius for a modern look */
    overflow: hidden;
    /* Hide overflow to prevent shadow overflow */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    /* Add shadow border effect */
    color: var(--text-color-light-db);
    /* Set default text color */
    background-color: var(--bg-color-light);
    /* Set default background color */
}

th,
td {
    border: 1.8px solid black;
    text-align: left;
    padding: 8px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

th {
    background-color: rgba(128, 128, 128, 0.843);
    /* Light gray background for headers */
    color: black;
}

tr:nth-child(even) {
    background-color: #f5f5f54d;
    /* Alternate background color for even rows */
}

tr:hover {
    background-color: rgba(77, 148, 218, 0.742);
    cursor: pointer;
}

/* Apply 3D effect to table cells */
th,
td {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Add box-shadow to create 3D effect */
}