
{% extends 'main.html' %}

{% block content %}
{% if request.user.is_authenticated and request.user.user_type == 'TNP-Office' %}
  <div class="notice_button">
    
    <a href="{% url 'create-drive' %}"><button id="create_drive">Create Drive</button></a>
    <a href="{% url 'create-activity' %}"><button id="create_activity">Create Activity</button></a>
    <a href="{% url 'register-coordinator' %}"><button id="create_activity">Register Coordinator</button></a>
     
  </div>
  {% endif %} 

{% endblock content %}